*{
    /* El margin hace que nuestro contenedor esté separado de otros, y podemos ver que el padding 
    hace que el contenido esté separado del borde */

    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box ; 
    /* box-sizing establece como se calcula el ancho y alto total de un elemento y border-box 
    le dice al navegador tomar en cuenta para cualquier valor que se especifique de borde o de relleno
    para el ancho o alto de un elemento*/
}

.barra{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("IMG_20211214_221653_120-01.jpeg");
    background-size:contain;
    background-position: 150px 55px;
    background-repeat: no-repeat; 
}


nav{
    display: flex; /* elemento flexible para alterar sus dimensiones y llenar el espacio disponible */
    align-items: center;
    justify-content: space-between; /* como distribuir el espacio entre y alrededor de los items flex
    y space-between para los elementos aparezcan distribuidos uniformemente */
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer; /* permite seleccionar un puntero */
}

span{ /* asignar un estilo a un elemento pequeño dentro de una etiqueta de bloque */
    color: #f9004d;
}

.soy{
    color: white;
}


nav ul li{
    list-style-type: none; /* tipo de marcador de ítems de lista */
    display: inline-block; /* crea cajas que son de bloque y en línea de forma simultánea */
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none; /* establecer el formato de texto a subrayado */
    font-weight: bold; /* grosor de 700 */
    text-transform: capitalize; /* especifica el cambio entre mayúsculas y minúsculas del texto de un elemento */
}

nav ul li a:hover{ /* cuando se interactúa con un elemento, pero no necesariamente lo activa */
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d;;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    margin:-10px -120px;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    position:absolute;
}

.btn:hover{
    color: black;
    transition: .4s;
    transform:scale(1.2);
}

.content{
    position: absolute; /* permite posicionar elementos de manera absoluta */
    top: 50%;
    left: 8%;
    transform: translateY(-50%); /* te permite modificar el espacio de coordenadas y translate 
    recoloca un elemento en el eje horizontal y/o vertical*/
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: -10px;
}

.about{
    width: 100%;
    padding: 100px 8%;
    background-color: black ;
}

.about-text{
    width: 550px;
}

main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #f9004d;
    font-size: 35px;
    margin-bottom: 20px;
}

p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.servicios{
    width: 100%;
    padding: 100px 8%;
    background-color: black ;
}

.titulo h2{
    text-align: center;
    color: #f9004d;
    font-size: 35px;
    margin-bottom: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height:365px;
    width:335px;
    padding:20px 35px;
    background:#191919;
    border-radius:20px;
    margin:15px;
    position:relative;
    overflow:hidden;
    text-align:center;
}

.card i{
    font-size: 50px;
    display:block;
    text-align: center;
    margin: 25px 0px;
    color:white;
}

h5{
    color:#f9004d;
    font-size:23px;
    margin-bottom:15px;
}

.contenido p{
    color:rgb(255, 255, 255) ;
    font-size:16px;
    line-height:27px;
    margin-bottom:25px;
}



